# تجاهل مجلدات node_modules في جميع الأماكن
node_modules/
Admin web/my-app/node_modules/
DriverApp/DriverApp/node_modules/
StudentApp/StudentApp/node_modules/

# تجاهل الملفات الأخرى التي لا نحتاجها
.env
.DS_Store
*.log
.idea/
.vscode/
