/* Footer.css */
.app-footer {
  background-color: #343a40;
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  opacity: 1;
}
